.list-items-wasted {
  margin-bottom: 30px;
}

.wasted-items-list {
  display: inline-block;

  &.content-circle {
    width: 17vw;
    .items-circle {
      border-radius: 50%;
      width: 72px;
      height: 72px;
      background-color: rgba(0, 0, 0, 0.26);
      padding: 12px;
      color: #000000;
      font-size: 2.5em;
      text-align: center;
      margin: auto;
    }
  }

  &.content-text {
    width: 30vw;
    .items-text {
      font-size: 4vw;
      text-align: center;
    }
  }

  &.content-checkbox {
    width: 35vw;
    .items-checkbox {
    }
  }

}
