/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  min-height: 100% !important;
  color: #FFFFFF !important;
}

.fa.fa-2 {
  font-size: 2em;
}

.fa.fa-3 {
  font-size: 4em;
}

.fa.fa-4 {
  font-size: 7em;
}

.fa.fa-5 {
  font-size: 12em;
}

.fa.fa-6 {
  font-size: 20em;
}

@for $i from 0 through 12 {
  .vert-offset-top-#{$i} {
    margin-top: #{$i}em;
  }

  .vert-offset-bottom-#{$i} {
    margin-bottom: #{$i}em;
  }
}


// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome";

