<ion-view view-title="Ingreso" hide-nav-bar="true">
  <ion-content scroll="false" class="login">
    <div class="img-logo"></div>
    <form name="loginForm" class="login-form" novalidate ng-submit="ctrl.login(loginForm)">
      <div class="form-group">
        <label class="alert-label" ng-show="ctrl.message">{{ ctrl.message }}</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="username" placeholder="Usuario"
                 ng-model="ctrl.formParams.username" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Clave"
                 ng-model="ctrl.formParams.password" required>
        </div>
      </div>
      <div class="form-group vert-offset-top-10">
        <button type="submit" class="btn form-control button-login">Ingresar</button>
      </div>
    </form>
  </ion-content>
</ion-view>
