<ion-view view-title="Residuos">
  <ion-content class="main">
    <div class="main-title"><h2>Tipo de residuos</h2></div>
    <div class="main-content">
      <ul class="list-unstyled">
        <li class="list-items-wasted" ng-repeat="wasted in ctrl.wasted track by $index">
            <div class="wasted-items-list content-circle">
              <div class="items-circle">NR</div>
            </div>
            <div class="wasted-items-list content-text">
              <div class="items-text">{{ wasted.nombre }}</div>
            </div>
            <div class="wasted-items-list content-checkbox">
              <div class="items-checkbox">
                <div class="checkbox-style">
                  <input id="item-checkbox{{ $index }}" type="checkbox">
                  <label for="item-checkbox{{ $index }}"></label>
                </div>
              </div>
            </div>
        </li>
      </ul>

    </div>
    <div class="main-bottom">
      <div class="form-group vert-offset-top-10">
        <button ng-click="ctrl.next()" type="button" class="btn form-control button-main">Siguiente</button>
      </div>
    </div>
  </ion-content>
</ion-view>
